package pages

import (
    "github.com/ni3mm4nd/ssl-expiry-checker/internal/templates/shared"
)

templ AboutPage() {
    @shared.Page("About") {
        <div class="container">
			<div class="row">
				<div class="col">
					<p>
						This project is created as a hobby project.
					</p>
				</div>
			</div>
		</div>
    }
}