package pages

import (
    "github.com/ni3mm4nd/ssl-expiry-checker/internal/templates/shared"
    "github.com/ni3mm4nd/ssl-expiry-checker/internal/templates/partials"
)

templ HomePage() {
    @shared.Page("Home") {
        @partials.RenderDefault()
    }
}